*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#171219;
    color:#fff;
    font-family:"Space Mono", monospace;
    overflow-x:hidden;
}

/* HEADER */

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 60px;
}

.logo{
    color:#ff8ad8;
    font-size:42px;
    font-weight:bold;
}

.social-icons{
    display:flex;
    gap:20px;
}

.social-icons a{
    color:#ff8ad8;
    font-size:24px;
    transition:.3s;
}

.social-icons a:hover{
    color:#7ef9ff;
}

/* LINE */

hr{
    border:none;
    border-top:1px solid rgba(255,255,255,.15);
    margin:0 40px;
}

/* MAIN LAYOUT */

.container{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:40px;
    padding:40px 40px;
}

/* LEFT SIDEBAR */

.sidebar{
    width:28%;
    min-width:280px;
}

.profile-img{
    width:100%;
    border-radius:12px;
    margin-bottom:20px;
    display:block;
}

.links{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-bottom:25px;
}

.links a{
    color:#ff8ad8;
    text-decoration:none;
    font-size:18px;
}

.sidebar h2{
    color:#ffe46b;
    font-size:42px;
    margin-bottom:18px;
}

.sidebar h3{
    color:#ffe46b;
    margin:25px 0 12px;
}

.sidebar p,
.sidebar li{
    color:#ddd;
    line-height:1.8;
}

.sidebar ul{
    padding-left:20px;
}

/* CENTER CONTENT */

.main-content{
    width:48%;
}

.project-card{
    margin-bottom:50px;
    border-bottom:1px solid rgba(255,255,255,.15);
    padding-bottom:35px;
}

.project-card h2{
    color:#7ef9ff;
    font-size:42px;
    margin-bottom:12px;
}

.date{
    color:#aaa;
    margin-bottom:18px;
}

.project-card img{
    width:100%;
    border-radius:12px;
    margin-bottom:20px;
}

.project-card p{
    line-height:1.8;
    margin-bottom:16px;
}

.project-card a{
    color:#7ef9ff;
    text-decoration:none;
    font-size:20px;
}

/* RIGHT SIDEBAR */

.rightbar{
    width:24%;
    min-width:250px;
}

.rightbar h3{
    color:#ff8ad8;
    margin-bottom:16px;
}

.rightbar a{
    color:#7ef9ff;
    text-decoration:none;
}

/* MOBILE */

@media(max-width:1000px){

.container{
    flex-direction:column;
}

.sidebar,
.main-content,
.rightbar{
    width:100%;
}

.header{
    padding:20px;
}

.logo{
    font-size:32px;
}
}