* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #120d14;
  color: #f5f5f5;
  font-family: "Space Mono", monospace;
  overflow-x: hidden;
  position: relative;
}

/* Grain texture */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    radial-gradient(rgba(255,255,255,0.04) 1px,
    transparent 1px);
  background-size: 4px 4px;
  opacity: 0.15;
  pointer-events: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 60px 20px;
}

.logo {
  color: #ff84d8;
  font-size: 42px;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons a {
  color: #ff84d8;
  font-size: 30px;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: #87f5ff;
  transform: translateY(-4px);
}

hr {
  border: none;
  border-top: 1px solid #ff84d8;
  margin: 0 50px;
}

/* Layout */

.container {
  display: flex;
  gap: 40px;
  padding: 40px 50px;
}

/* Left Sidebar */

.sidebar {
  width: 26%;
}

.profile-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 30px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 35px;
}

.links a {
  text-decoration: none;
  color: #ff84d8;
  font-size: 20px;
}

.sidebar h2,
.sidebar h3 {
  color: #ffe168;
  margin-bottom: 18px;
}

.sidebar h2 {
  font-size: 42px;
}

.sidebar p,
.sidebar li {
  line-height: 1.8;
  color: #ececec;
}

.sidebar ul {
  margin-left: 18px;
  margin-bottom: 25px;
}

/* Center */

.main-content {
  width: 48%;
}

.project-card {
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 35px;
}

.project-card h2 {
  color: #8df7ff;
  font-size: 48px;
  margin-bottom: 18px;
}

.date {
  color: #bdbdbd;
  margin-bottom: 20px;
}

.project-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 20px;
}

.project-card p {
  line-height: 1.9;
  margin-bottom: 18px;
}

.project-card a {
  color: #00f7ff;
  text-decoration: none;
  font-size: 24px;
}

.project-card a:hover {
  text-shadow: 0 0 12px cyan;
}

/* Right */

.rightbar {
  width: 26%;
}

.rightbar h3 {
  color: #ff84d8;
  margin-bottom: 20px;
}

.rightbar a {
  color: #87f5ff;
  text-decoration: none;
}

/* Responsive */

@media(max-width:1100px) {

  .container {
    flex-direction: column;
  }

  .sidebar,
  .main-content,
  .rightbar {
    width: 100%;
  }

  .project-card h2 {
    font-size: 34px;
  }

  .sidebar h2 {
    font-size: 32px;
  }
}